* { user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}

#sortable { 
  list-style-type: none;
   margin-left:auto;
   margin-right:auto;
}

#sortable li { 
  float: left; 
  width: 33%; 
}

#sortable li img {
  vertical-align:bottom;
  width: 100%; 
  height: auto;
}

@media (orientation:landscape){ #sortable {width:100vh;}}
@media (orientation:portrait) { #sortable {width:100%;}}

.carousel-inner .item img,
.carousel-inner .item img               { width: 100%;}
.container .carousel-indicators .active { background-color:orange;}
.container .carousel-indicators li      { border: 1px solid orange;}
.container .panel-footer                { margin-top:20px;}



.centra{
   text-align: center;
}

.footer{
	position: fixed;
	bottom: 0px;
	left: 15px;
	right: 15px;
	background-color: #222;
	color: #ccc;
}

#titulo{
	font-size: 1.5em;
  }
  
#calc{
background-color:#222;
}
  
#calc p{
padding:0.5em;
}

#calc button{
width:2.5em;
}

#memBt {
padding-right: 0px;
padding-left: 0px;
}

#num, #mem{
  position:relative;
  top:15px;
  text-align:right;
}
@media (max-width: 768px) {
  
	#num, #mem{
	  position:relative;
	  top:0px;
	  text-align:right;
	}
 }

#calcular{
  width: 9em!important;
  height: 2em;
  position: relative;
}